<%= render 'shared/header' %>
<div class="favorites-container">
  <h1 class="favorites-title">Your Favorites</h1>
  <p class="favorites-description">Discover all your cherished items in one place.</p>
  <ul class="favorites-list">
    <% if @favorites.any? %>
      <% @favorites.each do |favorite| %>
        <li class="favorites-item">
          <%= link_to favorite.name, favorite_path(favorite), class: 'favorites-link' %>
          <span class="favorites-item-icon"><i class="fas fa-heart"></i></span>
        </li>
      <% end %>
    <% else %>
      <li class="no-favorites">No favorites found. Start adding some!</li>
    <% end %>
  </ul>
</div>
<%= render 'shared/footer' %>
