<!-- _menu_section.html.erb -->

<div class="menu-section">
  <h3>Menu Offerings</h3>
  <div class="menu-items">
    <% @chef_profile.menu_items.each do |menu_item| %>
      <div class="menu-item">
        <h4 class="menu-item-name"><%= menu_item.name %> - <%= number_to_currency(menu_item.price) %></h4>
        <p class="menu-item-description"><%= menu_item.description %></p>
      </div>
    <% end %>
  </div>
</div>
