<!-- _profile_header.html.erb -->

<div class="profile-header">
  <div class="profile-image">
    <%= image_tag asset_path("default_avatar.png"), alt: @chef_profile.user.name %>
  </div>
  <div class="profile-info">
    <h2 class="profile-name"><%= @chef_profile.user.name %> <span class="profile-role">Chef</span></h2>
    <p class="profile-specialty"><%= @chef_profile.specialty %></p>
    <p class="profile-bio"><%= @chef_profile.bio %></p>
  </div>
</div>
