// app/assets/stylesheets/_buttons.scss


button, .btn {
    font-size: 16px;
    font-family: 'GilroyBold', sans-serif;
    color: white;
    background-color: $accent-color-light;
    border-radius: 8px;
    padding: 12px 24px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  button:hover, .btn:hover {
    background-color: darken($accent-color-light, 10%);
  }
  
  button:disabled, .btn:disabled {
    background-color: lighten($accent-color-light, 15%);
    cursor: not-allowed;
  }
  