// app/assets/stylesheets/_colors.scss

// Light Theme Colors
$background-color-light: #F7F3E9;
$primary-color-light: #47B5A4;
$secondary-color-light: #FF6F61;
$tertiary-color-light: #4A4A4A;
$neutral-light: #EDE8DC;

// Dark Theme Colors
$background-color-dark: #323232;
$primary-color-dark: #47B5A4;
$secondary-color-dark: #FF6F61;
$tertiary-color-dark: #E0E0E0;
$neutral-dark: #4A4A4A;

// Shared Colors
$success-color: #82B366;
$error-color: #D95C5C;
$warning-color: #FFA726;


// Additional UI Colors (Common for Both Themes)
$button-primary-bg: $primary-color-light; // Button background color
$button-primary-hover: darken($primary-color-light, 10%); // Hover state for primary button
$button-secondary-bg: $secondary-color-light; // Secondary button color
$button-secondary-hover: darken($secondary-color-light, 10%);
$button-disabled: lighten($neutral-light, 20%); // Disabled button background
$button-text-light: #ffffff; // Button text color in light theme
$button-text-dark: #f0f0f0; // Button text color in dark theme

// Link Colors
$link-color: $primary-color-light; // Link text color
$link-hover-color: darken($primary-color-light, 15%); // Hover effect for links

// Border and Divider Colors
$border-color-light: lighten($neutral-light, 10%); // Light theme border
$border-color-dark: lighten($neutral-dark, 15%); // Dark theme border

// Background Accent Colors
$card-background-light: lighten($neutral-light, 5%); // Card background in light theme
$card-background-dark: darken($neutral-dark, 5%); // Card background in dark theme
